@import "../variables.scss";
@import "../mixins.scss";

.movie-card_parent {
  @include flex-column(flex-end);

  &.active {
    .movie-card {
      border-color: white;
    }
  }

  .movie-card {
    width: 20rem;
    height: 27rem;
    // position: absolute;
    border: 0.2rem solid transparent;
    border-radius: 1.8rem;
    overflow: hidden;
    margin-bottom: 0.5rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .title {
    width: 100%;
    margin-bottom: -2.5rem;
    padding-left: 2rem;
  }
}
