@import "../variables.scss";
@import "../mixins.scss";

.seasons-container {
  position: relative;
  margin-left: 6.7rem;
  margin-top: 3rem;
  z-index: 1;
  opacity: 1;

  &.hidden {
    opacity: 0;
  }

  h2 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    color: #fff;
    font-weight: 600;
  }

  .seasons-list {
    margin-bottom: 2rem;
    position: relative;
  }

  .seasons-list-inner {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem 0;
    // max-width: 100rem;
    transition: transform 0.5s;
    margin-left: 0.1rem;
    // overflow: hidden;
  }
}

.seasons-list_warpper {
  overflow: hidden;
  max-width: 93.5rem;
}

.no-episodes {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.season-button {
  white-space: nowrap;
  width: 15rem;
}

.season-button:not(:last-child) {
  margin-right: 1rem;
}

.season-button.selected {
  background-color: #fff;
  color: #000;
}
