.button {
  outline: none;
  border: none;
  background-color: transparent;
  box-shadow: 0 0 0 0.1rem #fff;
  font-size: 2rem;
  padding: 0.8rem 2rem;
  color: white;
  border-radius: 3.5rem;
  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.6rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  &.active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
