#root {
  background-image: url("@assets/images/splashscreen.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loading-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;

  .abs {
    position: absolute !important;
    top: 2.4rem !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
