body {
  margin: 0;
  width: 128rem;
  height: 72rem;
}

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  box-sizing: border-box;
  appearance: none;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

/* @media only screen and (max-width: 1280px) {
  * {
    font-size: 10px;
  }
} */

@media only screen and (max-width: 1920px) {
  * {
    font-size: 10px;
  }
}

/* @media only screen and (min-width: 3840px) {
    * {
        font-size: 20px;
    }
} */

#root {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 128rem;
  height: 72rem;
}

.android #root {
  background-color: transparent !important;
}

p {
  color: white;
  font-size: 1.6rem;
}

.back-button {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 3rem;
  left: 20rem;
}

.back-button .back-button-text {
  margin-left: 1rem;
}

.back-button.active {
  border-color: #ccc;
}

.back-button svg {
  width: 3rem;
  height: 3rem;
}

.back-button-text {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}

.back-button:hover,
.back-button.active .back-button-text {
  /* color: #ccc; */
}

.back-button:hover svg,
.back-button.active svg path {
  stroke: #ccc;
}

#categories_list {
  width: 100%;
}

.connection-modal,
.ino-modal {
  background-color: black !important;
}

.ino-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-interen-title {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.modal-protected {
  width: 50rem;
  height: 30rem;
}

.modal-content {
  height: 30rem;
}

.ino-keyboard.numeric .ino-button--active {
  background-color: #fff !important;
  color: black !important;
}

.ino-player-progress__time-remaining,
.ino-player-progress__duration {
  color: white !important;
  font-size: 1.5rem !important;
}

.ino-keyboard-row,
.ino-keyboard-row {
  display: flex;
  justify-content: center;
}

.ino-keyboard-overlay {
  position: fixed !important;
  bottom: 0 !important;
}

.ino-keyboard {
  margin: 0 auto !important;
  background-color: transparent !important;
}

.ino-button--active.apk-update_btn {
  transform: scale(1);
  background-color: #0f87b2 !important;
}

.apk-update_row {
  justify-content: center;
}
.apk-update_btn {
  font-size: 2rem !important;
}

.apk-update_btn.close {
  margin-right: 1rem;
}

.app-logo {
  top: 2.5rem !important;
}

.app-logo_top.logo {
  height: 5rem;
}

.ino-modal_parent .ino-modal--full {
  background-color: transparent !important;
  background-image: url("@assets/images/splashscreen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ino-keyboard-overlay {
  background-color: transparent !important;
}

.ino-keyboard--custom .ino-keyboard-key {
  background-color: var(--ino-color-secondary) !important;
  width: 7rem;
  height: 5rem !important;
}

.ino-keyboard--custom .ino-keyboard-key.ino-button--active {
  border-color: #fff !important;
}

.ino-protect-input-boxes .ino-protect-input-box {
  width: 6rem;
  height: 8rem;
  border-radius: 0.7rem;
  background-color: var(--ino-color-secondary) !important;
  border-color: transparent !important;
}

.ino-protect-input-boxes .ino-protect-input-box.active {
  border-color: #fff !important;
}

.ino-player-progress__time_current {
  color: white !important;
}
