.time-wrapper{
    .time{
        font-size: 2.8rem;
        white-space: nowrap;
    }
    .day{
        text-transform: capitalize;
        font-size: 1.9rem;
        padding-top: .5rem;
        white-space: nowrap;
    }
}