@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.buttons-group-live {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 4rem;

  .btn-group-live {
    // margin: 0 1rem;
  }
  .rewind,
  .forward {
    border: 1px solid transparent;
    @include flex(center, center);
    flex-wrap: nowrap;
    margin: 0 1rem;

    &.active {
      border: 1px solid #fff;
    }
  }
  .play-pause {
    @include flex(center, center);
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $dark;
    cursor: pointer;
    transition: all 0.1s ease;

    svg {
      fill: #000;
    }

    &:active {
      transform: scale(0.9);
    }

    &.active {
      transform: scale(1.1);
    }
  }
  .forward {
  }
}

.archive-btn_text {
  display: flex;
  color: #fff;
  white-space: nowrap;
}

.ino-element-wrapper {
  border: 1px solid transparent;
  @include flex(center, center);
  flex-wrap: nowrap;
}
.ino-element-wrapper.active {
  border-color: #fff;
  border-radius: 3rem;
}

.archive-buttons_wrapper {
  // margin-top: 7rem;
  // height: 10rem;
}
