.parent-categories {
  width: 26.7rem;
  height: 56.6rem;
  background-color: rgba(3, 3, 3, 0.4);
  border-radius: 1.5rem;
  overflow: hidden;
  .title {
    font-size: 2rem;
    font-weight: 500;
    color: white;
    padding: 2rem 0 0 2rem;
    margin-bottom: 1rem;
  }
  .categories-wrapper {
    height: 50rem;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    .list-category {
      margin-top: 1rem;
    }
  }
}

.card-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem;
  height: 100%;
  border-radius: 1rem;
  border: 0.1rem solid transparent;
  &.active {
    background-color: rgba(255, 255, 255, 0.05);
  }
  &.selected {
    border-color: white;
  }
  .name {
    width: 17rem;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    color: #bababa;
    font-size: 1.7rem;
    font-weight: 400;
  }
}
