@import "@styles/variables.scss";

.num-change-channel {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 2rem;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
}

.live-control.hide:not(.preview) {
    opacity: 0;
    transform: translateY(10rem);
    transition: 0.1s linear;
}
.preview.live-control {
    .buttons-group-live,
    .duration {
        opacity: 0;
    }

    .progress-bar::after{
        content: '';
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        right: -0.5rem;
        top: 50%;
        transform: translateY(-50%);
    }
}
.live-control {
    width: 128rem;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20rem 5rem 5rem 5rem;
    background-image: linear-gradient(to top, #000000, transparent);
    opacity: 1;

    .live-icon {
        color: white;
        background-color: #9e0b0b;
        position: absolute;
        right: 0;
        top: 1.5rem;
        font-size: 1.3rem;
        padding: 0.2rem 1rem 0.2rem 2rem;
        border-radius: 0.2rem;

        &.active {
            box-shadow:
                0 0 0 0.1rem black,
                0 0 0 0.2rem white;
        }
        &.timeshift,&.archive {
            background-color: grey;
        }
        &.archive{
        right: 8rem;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0.5rem;
            width: 1rem;
            height: 1rem;
            background-color: white;
            border-radius: 50%;
            transform: translateY(-50%);
        }
    }
    .parent-number-channel {
        width: 5rem;
        height: 6rem;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &.active {
            transition: 0.1s linear;

            path {
                transition: 0.1s linear;
                stroke: $active-color;
            }
            .number-channel {
                transition: 0.1s linear;
                color: $active-color;
            }
        }

        .arrow {
            width: 1.5rem;
            height: 1.5rem;
            display: block;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        .arrow-up {
            svg {
                transform: rotate(180deg);
                transform-origin: center;
            }
        }
        .number-channel {
            font-size: 2rem;
            text-align: center;
        }
    }
    .logo {
        width: 6rem;
        height: 6rem;
        margin-right: 2rem;
        border-radius: 0.5rem;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            background-color: white;
        }
    }
    .name-channel {
        width: 12rem;
        margin-right: 1rem;
        p {
            font-size: 1.5rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
    .timeshift-btn {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        position: relative;

        &.active {

            transition: 0.1s linear;
            path {
                fill: $active-color;
                transition: 0.1s linear;
            }
        }
        svg {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
        }
    }
    .progress-field {
        width: 87rem;
        position: relative;
        .archive-duration {
            right: 0rem;
        }
        .archive-current_time {
            right: unset;
            left: 0rem;
        }
        .duration {
            position: absolute;
            top: 1.5rem;
            right: 0rem;
        }
        .timeshift-duration {
            right: unset;
            left: 0rem;
        }
        .progress {
        }
    }
}
